/*componente tarjetas :)*/
/* From Uiverse.io by EmmaxPlay */ 
.card {
 position: relative;
 /* width: 190px;
 height: 254px; */
 width: 350px; 
  height: 180px;
 margin: 0 auto;
 background-color: #E6F0F6;/*011522*/
 border-radius: 8px;
 z-index: 1;

 overflow: hidden; 
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.category-tag {
  position: absolute; 
  top: 10px;    
  right: 10px;  
  
  background-color: #ffffff; /* Fondo blanco */
  padding: 5px;
  border-radius: 50%; /* Circular */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 18px; /* Tamaño del icono */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}


.card__content {
  padding: 0 15px 15px; /* Relleno solo en los lados y abajo */
}

.card__content h4 {
  margin-top: 0;
  font-size: 1.1em;
  color: #011522;
}

.card__content p {
  font-size: 0.9em;
  color: #555;
}

.tools {
 display: flex;
 align-items: center;
 padding: 9px;
}

.circle {
 padding: 0 4px;
}

.box {
 display: inline-block;
 align-items: center;
 width: 10px;
 height: 10px;
 padding: 1px;
 border-radius: 50%;
}

.red {
 background-color: #ff605c;
}

.yellow {
 background-color: #ffbd44;
}

.green {
 background-color: #00ca4e;
}
